@model ChronoSpark.Data.Entities.SparkTask
<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
<body>
<form action="" method="post">
    <p><label for="text1">First Number:</label>
      <input type="text" name="text1" />
    </p>
    <p><label for="text2">Second Number:</label>
      <input type="text" name="text2" />
    </p>
    <p><input type="submit" value="Add" /></p>
</form>
</body>
</html>
