<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <head>
        <title>Hello </title>
    </head>
    <body>
        <form method="post" id="task-form" action="/task/addtask">
          <h2>Add task</h2>
          Description: <input type="text" class="input-big" name="task_name" value="" />
          Duration:    <input type="text" class="input-big" name="task_duration" value="" />
          Client:      <input type="text" class="input-big" name="task_client" value="" />
          <input type="submit" name="send" value="Add" class="addtask-btn"/>
        </form>
        <h2>Tasks</h2>
        <table>            
            <tr>
                <td>Id</td>
                <td>Description</td>
                <td>Time Elapsed</td>
            </tr>
            @{
                foreach(var item in Model)
                {
                    var parts = item.Id.Split('/');
                    var idNumber = parts[1];
                    var hours = item.TimeElapsed.TotalHours;
                    var hoursInteger = (int)hours;
                    var hoursToPrint = hoursInteger.ToString();
                    var minutes = item.TimeElapsed.Minutes;
                    var seconds = item.TimeElapsed.Seconds;
                    var toDisplay = hoursToPrint + ":" + minutes + ":" + seconds;
                    
                    <tr>
                    <td>@idNumber</td>
                    <td>@item.Description</td>
                    <td>@toDisplay</td>
                    <td>   
                        <ul class="actions">
                            <li class="edit-btn"><a href="#"></a></li>
                        </ul>

                    </td>

                    </tr>
                }
            }
        </table>
    </body>
</html>