<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <head>
        <title>Hello </title>
    </head>
    <body>
        <table>

            @{

                if(Model != null){
                    var parts = Model.Id.Split('/');
                    var idNumber = parts[1];
                    var hours = Model.TimeElapsed.TotalHours;
                    var hoursInteger = (int)hours;
                    var hoursToPrint = hoursInteger.ToString();
                    var minutes = Model.TimeElapsed.Minutes;
                    var seconds = Model.TimeElapsed.Seconds;
                    var toDisplay = hoursToPrint + ":" + minutes + ":" + seconds;
                    
                    <tr>
                    <td>Id</td>
                    <td>Description</td>
                    <td>Time Elapsed</td>
                    </tr>
                    
                    <tr>
                    <td>@idNumber</td>
                    <td>@Model.Description</td>
                    <td>@toDisplay</td>
                    </tr>
                }
                else{ <tr>No active task ound.</tr> }
              }
        </table>
    </body>
</html>