<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <head>
        <title>Index</title>
    </head>
  

<script src="Scripts/jquery-1.9.0.min.js" type="text/javascript">
    function GetAllTasks() {
        jQuery.support.cors = true;
        $.ajax({
            url: 'http://localhost:8080/home',
            type: 'GET',
            dataType: 'json',            
            success: function (data) {
                alert("llegue aqui");
                WriteResponse(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

    
function WriteResponse(tasks) {
    var strResult = "<table><th>ID</th><th>Name</th><th>Time Elapsed</th><th>State</th>";
    $.each(tasks, function (index, task) {
        strResult += "<tr><td>" + task.ID + "</td><td> " + task.Description + "</td><td>" + task.TimeElapsed + "</td><td>" + task.State + "</td></tr>";
    });
    strResult += "</table>";
    $("#divResult").html(strResult);
}

function ShowEmployee(task) {
    if (task != null) {
        var strResult = "<table><th>EmpID</th><th>Emp Name</th><th>Emp Department</th><th>Mobile No</th>";
        strResult += "<tr><td>" + task.ID + "</td><td> " + task.Description + "</td><td>" + task.TimeElapsed + "</td><td>" + task.State + "</td></tr>";
        strResult += "</table>";
        $("#divResult").html(strResult);
    }
    else {
        $("#divResult").html("No Results To Display");
    }
}

    </script>
      <body>
        <div class="content-wrapper">
            <div>
                <table><tr>
                        <td><button onclick="GetAllTasks();return false;">Get All Tasks</button></td>
                       </tr></table>                
            </div>
        </div>
<h3>Oputput of action done through WEB API:</h3>
<ol class="round">
    <li>
        <div id="divResult"></div>
    </li>
</ol>             
    </body>
</html>