<!DOCTYPE html>
<html>
  <head>
    <title>ChronoSpark</title>
     <link rel="stylesheet" href="~/css/style.css" type="text/css" />
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <h1 class="small-h">ChronoSpark Extreme</h1>
      </div>
      <div id="content">
        <form method="post" id="task-form" action="/tasks/add">
          <h2>Add task</h2>
          <input type="text" class="input-big" name="task_name" value="" />
          <input type="submit" name="send" value="Add" class="add-btn"/>
        </form>

        <form>
        <div id="tasks-wrapper">
          <h2>Tasks</h2>
          <ul id ="tasks-list">
           
          </ul>
        </div>
        <div class="cleared"></div>
        </form>
        
        
      </div>
      <div id="footer">
        Nearsoft.
      </div>
    </div>
                <button id="getAllTasks">Get All Tasks</button>

        <ol id="task-list" class="round"></ol>
        
          <script src="Scripts/Home/FileServer/jquery-1.9.0.min.js" type="text/javascript"></script>           
          <script src="Scripts/Home/FileServer/main.js" type="text/javascript"></script>
    </body>
</html>