<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <head>
        <title>Hello @Model.Name</title>
    </head>
    <body>
        <div>Yes, you. '@Model.Name'</div>
    </body>
</html>