<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
@*<html>
    <head>
        <title>Hello @Model.Name</title>
    </head>
    <body>
        Email: <input type='text' value='@Model.Email'></input>
    </body>
</html>*@
<script type="text/javascript">
function GetTasks() {
        jQuery.support.cors = true;
        $.ajax({
            url: 'http://localhost:8080/home/gettasks',
            type: 'GET',
            dataType: 'json',            
            success: function (data) {                
                WriteResponse(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });        
}
    
function WriteResponse(tasks) {
    var strResult = "<table><th>ID</th><th>Name</th><th>Time Elapsed</th><th>State</th>";
    $.each(tasks, function (index, SparkTask) {
        strResult += "<tr><td>" + Sparktask.ID + "</td><td> " + SparkTask.Description + "</td><td>" + SparkTask.TimeElapsed + "</td><td>" + Sparktask.State + "</td></tr>";
    });
    strResult += "</table>";
    $("#divResult").html(strResult);
}

function ShowEmployee(task) {
    if (employee != null) {
        var strResult = "<table><th>EmpID</th><th>Emp Name</th><th>Emp Department</th><th>Mobile No</th>";
        strResult += "<tr><td>" + task.ID + "</td><td> " + task.Description + "</td><td>" + task.TimeElapsed + "</td><td>" + task.State + "</td></tr>";
        strResult += "</table>";
        $("#divResult").html(strResult);
    }
    else {
        $("#divResult").html("No Results To Display");
    }
}
    </script>
@{
    ViewBag.Title = "Home Page";
}
@section featured {
  @*  <section class="featured">*@
        <div class="content-wrapper">
     @*       <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>*@
            <div>
                <table><tr>
                        <td><button onclick="GetTasks();return false;">Get All Tasks</button></td>
@*                        <td>Enter Employee Id: <input type="text" id="txtEmpid" style="width:50PX"/></td>
                        <td><button onclick="GetEmployee();return false;">Get Employee</button></td>
                    <td>
                        <table>
                            <tr><td>EmpId:</td><td><input type="text" id="txtaddEmpid" /></td></tr>
                            <tr>  <td>Emp Name:</td><td><input type="text" id="txtaddEmpName" /></td></tr>
                            <tr> <td>Emp Department:</td><td><input type="text" id="txtaddEmpDep" /></td></tr>
                            <tr><td>Mobile no:</td><td><input type="text" id="txtaddEmpMob" /></td></tr>
                        </table>
                    </td>
                        <td><button onclick="AddEmployee();return false;">Add Employee</button></td>
                    <td>Delete Employee <input type="text" id="txtdelEmpId" style="width:50PX"/></td>
                        <td><button onclick="DeleteEmployee(); return false;">Delete Employee</button></td>*@
                       </tr></table>
                
            </div>
        </div>
    @*</section>*@
}
<h3>Oputput of action done through WEB API:</h3>
<ol class="round">
    <li>
        <div id="divResult"></div>
    </li>
</ol>